/** Colors constants. */
$app__color--bg: #1a1a1a;
$app__color--accent: #ff1472;

/** Typography constants. */
$typo__text--color: #fff;
$typo__link--color: $typo__text--color;
$typo__link--decoration: none;
