/** Slider styles. */
@import "../../assets/styles/constants";

.slider {
  &__text {
    font-size: 4.5rem;

    &--hightligted {
      color: $app__color--accent;
      border-bottom: 0.25rem solid $app__color--accent;
    }
  }
}
